/*TODO: Add classes that format the start point buttons */
/*TODO: Add classes that format the route list*/
/*TODO: Add classes that format the route image */

* {
    margin:0;
    padding:0;
}

body{
    min-width:1000px;
}

.main {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%) ,url(https://images.pexels.com/photos/4737484/pexels-photo-4737484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    height:170vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navbar {
    height:75px;
}

.icon {
    width:200px;
    height:70px;
}

.logo {
    color: orange;
    font-size: 35px;
    font-family: Times;
    float: left;
    padding-top: 5%;
    padding-left: 10%;
    position: relative;
}


.menu{
    width: 400px;
    height:70px;
    display: flex;
    flex-wrap: wrap;
}

ul{
    display:flex;
    flex-wrap: wrap;
}

ul li{
    list-style:none;
    margin-left:62px;
    margin-top:24px;
}

ul li a{
    font-size:20px;
    font-family: Arial;
    font-weight:bold;
}

.form {
    background:#00000054;
    width:615px;
    height:180px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color:orange;
    font-family: Arial;
    font-weight:bold;
    justify-content: center;
    padding-top:5%;
    padding-bottom:5px;
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
    justify-content: center;
    margin-left:17px;
}

.input {
    width:170px;
    height:25px;
    padding-left:5px;
    border-bottom:2px solid orange;
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    width: 110px;
    height:40px;
    background:orange;
    margin-top:13px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    text-decoration: none;
}

.startpoints-container {
    color: orange;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-evenly;
}

.startpoints{
    padding-left:5px;
    padding-right:5px;
}

.startpoint {
    display: grid;
    justify-content: center;
    border: 3px solid orange;
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.select-sp {
    display: none;
    padding-top: 1em;
  }

.route-info {
    display: none;
}

a{ 
    color:orange;
    text-decoration: none;
    font-family:Arial;
    font-weight: bold;
    font-size:17px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.results-container {
    display: none;
    padding-top: 20px;
    justify-content: center;
}


.img{
    width:100px;
    height:auto;
    flex-wrap: wrap;
    display:flex;
    padding-left: 25%;
}

img {
    justify-self: center;
    border-radius: 15px;
}


#search{
    color:black;
    text-decoration: none;
    font-family:Arial;
    font-weight: bold;
    font-size:17px;
    opacity: 0.7;
}



.row{
    padding-right:8px;
}

img{
    width:150px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}


.result{
    border-radius: 10px;
    border: 3px solid orange;
    justify-content: center;
    display: grid;
    margin: .25em;
    background-color: rgba(0, 0, 0, 0.35);
}

.bar-distance{
    display: grid;
    justify-items: center;
    align-items: center;
    font-size:15px;
    color:orange;
    text-decoration: none;
    font-weight:bold;
    padding-bottom: .5em;
}

.barname{
    display: grid;
    justify-items: center;
    align-items: center;
    font-size:18px;
    color:ORANGE;
    text-decoration: none;
    font-weight:bold;
}

.col-md-4{
    padding-left: 10%;
}

#map { 
    height:600px;
    width:500px;
    border: 3px solid orange;
}

.col-md-6{
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}


/* pseudo classes */

.icon .logo:hover{
position:relative;
bottom:-4px;
}

.icon img:hover{
    position:relative;
    bottom:-4px;
}

.input:focus{
    border:3px dashed #4b4b4b;
    outline:none;
}

.menu ul li:hover{
    position:relative;
    bottom:-4px;
    cursor:pointer;
    text-decoration:underline;
}

.result:hover {
    cursor:grab;
    box-shadow: 0 0 7px orange;
}

.startpoint:hover {
    cursor:grab;
    box-shadow: 0 0 7px orange;
}